HELP.md
target/

node_modules
frontend/node_modules

.DS_Store

.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.git

# --- Mobile (Flutter) ---
**/mobile/.dart_tool/
**/mobile/.packages
**/mobile/.flutter-plugins
**/mobile/.flutter-plugins-dependencies
**/mobile/build/
**/mobile/android/.gradle/
**/mobile/android/local.properties
**/mobile/ios/Pods/
**/mobile/ios/.generated/
**/mobile/ios/Flutter/Generated.xcconfig
**/mobile/ios/Flutter/flutter_export_environment.sh

# --- OS Specific ---

.DS_Store?
**/._*